<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/master" routerLinkActive="active fw-bold text-success">Master</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/employee'" routerLinkActive="active">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client" routerLinkActive="active">Client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client-project" routerLinkActive="active">Client Project</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-danger text-uppercase" type="button" (click)="onLogOut()" style="font-weight: bold;">Log
          Out</button>
      </form>
    </div>
  </div>
</nav>

<div class="container pt-3">
  <app-alert [alertType]="'info'" [message]="'This employee management site is under development'"></app-alert>
  <router-outlet></router-outlet>
</div>