<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success text-white fw-bold">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Company Name</th>
                                    <th>Person Name</th>
                                    <th>Contact No</th>
                                    <th>City</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientList; track $index) {
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{item.companyName | uppercase}}</td>
                                    <td>{{item.contactPersonName}}</td>
                                    <td>{{item.contactNo}}</td>
                                    <td>{{item.city}}</td>
                                    <td>
                                        <button class="btn btn-primary me-2" (click)="onEdit(item)">Edit</button>
                                        <button class="btn btn-danger" (click)="onDelete(item.clientId)">Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success text-white fw-bold">
                New Client
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Person Name <span class="text-danger">*</span></label>
                            <input type="text" #personName="ngModel" minlength="5" required
                                [(ngModel)]="clientObj.contactPersonName" class="form-control" name="contactPersonName">
                            @if (personName.touched) {
                            <div class="text-danger">
                                @if (personName?.errors?.['required']) {
                                <span>{{required}}</span>
                                }
                                @if (personName?.errors?.['minlength']) {
                                <span>Min 5 Chars Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Company Name <span class="text-danger">*</span></label>
                            <input type="text" #companyName="ngModel" minlength="3" required
                                [(ngModel)]="clientObj.companyName" class="form-control" name="companyName">
                            @if (companyName.touched) {
                            <div class="text-danger">
                                @if (companyName?.errors?.['required']) {
                                <span>{{required}}</span>
                                }
                                @if (companyName?.errors?.['minlength']) {
                                <span>Min 3 Chars Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Contact No <span class="text-danger">*</span></label>
                            <input type="text" #contactNo="ngModel" minlength="4" required
                                [(ngModel)]="clientObj.contactNo" class="form-control" name="contactNo">
                            @if (contactNo.touched) {
                            <div class="text-danger">
                                @if (contactNo?.errors?.['required']) {
                                <span>{{required}}</span>
                                }
                                @if (contactNo?.errors?.['minlength']) {
                                <span>Min 4 Chars Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" [(ngModel)]="clientObj.city" class="form-control" name="city">
                        </div>
                        <div class="col-6">
                            <label for="">State</label>
                            <input type="text" [(ngModel)]="clientObj.state" class="form-control" name="state">
                        </div>
                        <div class="col-6">
                            <label for="">Pincode</label>
                            <input type="text" [(ngModel)]="clientObj.pincode" class="form-control" name="pincode">
                        </div>
                        <div class="col-6">
                            <label for="">Address</label>
                            <textarea [(ngModel)]="clientObj.address" class="form-control" name="address"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Employee Strength</label>
                            <input type="text" [(ngModel)]="clientObj.employeeStrength" class="form-control"
                                name="employeeStrength">
                        </div>
                        <div class="col-6">
                            <label for="">GstNo <span class="text-danger">*</span></label>
                            <input type="text" #gstNo="ngModel" minlength="2" required [(ngModel)]="clientObj.gstNo"
                                class="form-control" name="gstNo">
                            @if (gstNo.touched) {
                            <div class="text-danger">
                                @if (gstNo?.errors?.['required']) {
                                <span>{{required}}</span>
                                }
                                @if (gstNo?.errors?.['minlength']) {
                                <span>Min 2 Chars Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">RegNo <span class="text-danger">*</span></label>
                            <input type="text" #regNo="ngModel" minlength="2" required [(ngModel)]="clientObj.regNo"
                                class="form-control" name="regNo">
                            @if (regNo.touched) {
                            <div class="text-danger">
                                @if (regNo?.errors?.['required']) {
                                <span>{{required}}</span>
                                }
                                @if (regNo?.errors?.['minlength']) {
                                <span>Min 2 Chars Required</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="" class="text-danger">* Required fields</label>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">

                            <app-my-button (onBtnClicked)="onReset($event, form)" [btnClass]="'btn btn-secondary'"
                                [btnText]="'Reset'"></app-my-button>

                            <!-- <button class="btn btn-secondary" (click)="onReset(form)">Reset</button> -->
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="form.invalid" (click)="onSaveClient(form)">
                                {{clientObj.clientId != 0 ? 'Update Client' : 'Save Client'}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>