<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success text-white fw-bold">
                Project List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>projectName</th>
                                    <th>empName</th>
                                    <th>startDate</th>
                                    <th>clientName</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (item of clientProjectsList; track $index) {
                                <tr>
                                    <td>{{item.projectName}}</td>
                                    <td>{{item.empName}}</td>
                                    <td>{{item.startDate}}</td>
                                    <td>{{item.clientName}}</td>
                                    <td>
                                        <button class="btn btn-primary me-2">Edit</button>
                                        <button class="btn btn-danger"
                                            (click)="onDelete(item.clientProjectId)">Delete</button>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success text-white fw-bold">
                New Project
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm" (ngSubmit)="onSavePorject()">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name <span class="text-danger">*</span></label>
                            <input type="text" formControlName="projectName" class="form-control">
                            @if (projectForm.controls['projectName'].touched) {
                                <div class="text-danger">
                                    @if (projectForm.controls['projectName'].errors?.['required']) {
                                        <span>This is Required</span>
                                    }
                                    @if (projectForm.controls['projectName'].errors?.['minlength']) {
                                        <span>Min 4 Char Required</span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Start Date <span class="text-danger">*</span></label>
                            <input type="date" formControlName="startDate" class="form-control">
                            @if (projectForm.controls['startDate'].touched) {
                                <div class="text-danger">
                                    @if (projectForm.controls['startDate'].errors?.['required']) {
                                        <span>This is Required</span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Expected End Date <span class="text-danger">*</span></label>
                            <input type="date" formControlName="expectedEndDate" class="form-control">
                            @if (projectForm.controls['expectedEndDate'].touched) {
                                <div class="text-danger">
                                    @if (projectForm.controls['expectedEndDate'].errors?.['required']) {
                                        <span>This is Required</span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Contact Name</label>
                            <input type="text" formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Mobile</label>
                            <input type="text" formControlName="contactPersonContactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Email</label>
                            <input type="text" formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employee Count <span class="text-danger">*</span></label>
                            <input type="text" formControlName="totalEmpWorking" class="form-control">
                            @if (projectForm.controls['totalEmpWorking'].touched) {
                                <div class="text-danger">
                                    @if (projectForm.controls['totalEmpWorking'].errors?.['required']) {
                                        <span>This is Required</span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Project Costing <span class="text-danger">*</span></label>
                            <input type="text" formControlName="projectCost" class="form-control">
                            @if (projectForm.controls['projectCost'].touched) {
                                <div class="text-danger">
                                    @if (projectForm.controls['projectCost'].errors?.['required']) {
                                        <span>This is Required</span>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-12">
                            <label for="">Project Description</label>
                            <textarea formControlName="projectDetails" class="form-control"> </textarea>
                        </div>
                        <div class="col-6">
                            <label for="">Select Client <span class="text-danger">*</span></label>
                            <select formControlName="clientId" class="form-control">
                                <option value="">Select Client</option>
                                @for (item of clientList; track $index) {
                                <option [value]="item.clientId">{{item.companyName}}</option>
                                }
                                @if (projectForm.controls['clientId'].touched) {
                                    <div class="text-danger">
                                        @if (projectForm.controls['clientId'].errors?.['required']) {
                                            <span>This is Required</span>
                                        }
                                    </div>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="">Lead By <span class="text-danger">*</span></label>
                            <select formControlName="leadByEmpId" class="form-control">
                                <option value="">Select Employee</option>
                                @for (item of employeeList; track $index) {
                                <option [value]="item.empId">{{item.empName}} - {{item.empCode}}</option>
                                }
                                @if (projectForm.controls['leadByEmpId'].touched) {
                                    <div class="text-danger">
                                        @if (projectForm.controls['leadByEmpId'].errors?.['required']) {
                                            <span>This is Required</span>
                                        }
                                    </div>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="" class="text-danger">* Required fields</label>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button type="submit" class="btn btn-success" [disabled]="projectForm.invalid">Save Project</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>